{{- if .Values.secretsStore.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "amunchain.fullname" . }}-spc
spec:
  provider: {{ .Values.secretsStore.provider | quote }}
  parameters:
    # Provider-specific parameters.
    # See examples under k8s/secrets-store/ for Vault/AWS/Azure/GCP templates.
    objects: |
      - objectName: "amunchain-tls"
        objectType: "secret"
{{- end }}
