
global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: "amunchain-node"
    metrics_path: /metrics
    static_configs:
      - targets: ["amunchain:9090"]
